.content{
    width: 80%;
    height: 100vh;
    margin: auto;
    background: grey;
}
h3{
    text-align: center;
    padding: 20px;
}
img{
    margin: auto;
    padding: 20px;
}
.login{
    width: 30%;
    margin: auto;
}
input{
    width: 100%;
    padding: 10px;
}
button{
    width: 30%;
    float: left;
    margin: 20px;
 
    padding: 10px;
    background: green
}
h3{
    font-size: 40px;
}