.content{
    width: 80%;
    min-height: 100%;
    margin: auto;
    background: grey;
    border-bottom: 2px solid aqua; 
}
a{
    padding: 20px;
    text-decoration: none;
    size: 20px;
    font-weight: bold;
    cursor: pointer;
}
h1{
    text-align: center;
    color: yellow;
}